{% load static %}
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">//匯入bootstrap

		
	</head>
	<body>
<div class="nav navbar-default fixed-top">
        <div class="container-fluid">
            <div >
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#menu1">Page 1</a></li>
                <li><a data-toggle="tab" href="#menu2">Page 2</a></li>
            </ul>
        </div>
    </div>  
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
<h1>hi</h1>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>