{% load static %}
<html lang="zh-tw">
<form action="" metdod="Post">
    {% csrf_token %}
</form>
<table class="table" style="border-collapse:separate; border-spacing:40px 10px;">
	<tdead>
		<title>測試</title>
		<meta charset="utf-8" />
		<link href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        </tdead>
        <tbody>
		</tr>
			<td align="center" style="font-size:30px;"></td>
			<td align="center" style="font-size:30px;">test</td>
			<td align="center" style="font-size:30px;"> </td>
			<td align="center" style="font-size:30px;"> </td>
			<td align="center" style="font-size:30px;"> </td>
			<td align="center" style="font-size:30px;"> </td>
		<tr>
		{% for 456 in apple %}
        	</tr>
			<td align="center" style="font-size:30px;">{{ 456.casetop5.0.country }}</td>
			<td align="center" style="font-size:30px;">test</td>
			<td align="center" style="font-size:30px;"> </td>
			<td align="center" style="font-size:30px;"> </td>
			<td align="center" style="font-size:30px;"> </td>
			<td align="center" style="font-size:30px;"> </td>
		<tr>
        </tbody>
</table>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		{% endfor %}
</html>