{% load static %}
<html lang="zh-tw">
<form action="" metdod="Post">
    {% csrf_token %}
</form>
	<tdead>
		<title>水庫水位即時資訊</title>
		<meta charset="utf-8" />
		<link href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        </tdead>
        <tbody>
		<ul class="nav nav-pills nav-fill">
			<div class="container">
			<nav class="navbar fixed-top navbar-light" style="background-color:black">
 	   		<li class="nav-item">
       	 		<a class="nav-link" href="home" style="font-weight: bold; color: white; font-size:23px;"><i class="fas fa-home"></i>&nbsp; 首頁 Home</a>
     	 		</li>
     	 		<li class="nav-item">
      	 		<a class="nav-link" href="about" style="font-weight: bold; color: white; font-size:23px;"><i class="fas fa-info-circle"></i>&nbsp; 關於 About</a>
     	 		</li>
     			 <li class="nav-item active">
       			 <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; color: white ;font-size:23px;"><i class="fas fa-spider"></i>&nbsp; 爬蟲時事資訊</a>
       			 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        			 <a class="dropdown-item" href="spidercovid-19" style="font-weight: bold; color: black; font-size:23px;"><i class="fas fa-lungs-virus"></i>&nbsp;Covid-19 即時資訊&nbsp; </a>
         			 <a class="dropdown-item" href="spiderwater" style="font-weight: bold; color: black; font-size:23px;">&nbsp;<i class="fas fa-tint"></i>&nbsp;&nbsp;水庫水位即時資訊&nbsp; </a>
         			 <a class="dropdown-item" href="#" style="font-weight: bold; color: black; font-size:23px;"><i class="fas fa-wrench"></i>&nbsp;正在開發中...</a>
       			 </div>
     			 </li>
     			<li class="nav-item">
     		  	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; color: white; font-size:23px;">
      	 		<i class="fas fa-code"></i>&nbsp 程式練習
      	 		</a>
       			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
       	   		<a class="dropdown-item" href="https://zerojudge.tw/" style="font-weight: bold; color: black; font-size:23px;">Zero Judge 高中生程式解題系統&emsp; &emsp; &emsp; &emsp;&emsp;&emsp;</a>
       	  		<a class="dropdown-item" href="http://www.tcgs.tc.edu.tw:1218/" style="font-weight: bold; color: black; font-size:23px;">台中女中程式解題系統</a>
        		<a class="dropdown-item" href="https://leetcode.com/" style="font-weight: bold; color: black; font-size:23px;">LeetCode &nbsp</a>
      	  		</div>
      			</li>
			</nav>
 			</div>
		</ul>
	{% for water in dam %}
	<table class="table table-bordered table-striped border-primary" border="2" align=center>
<h1 style="font-size: 50px">&nbsp;<h1>
		<tr>
			<td align="center" style="font-size:25px;">水庫名稱</td>
			<td align="center" style="font-size:25px;">有效容量(萬立方公尺)</td>
			<td align="center" style="font-size:25px;">進水量(萬立方公尺)</td>
			<td align="center" style="font-size:25px;">出水量(萬立方公尺)</td>
			<td align="center" style="font-size:25px;">水情時間</td>
			<td align="center" style="font-size:25px;">水位(公尺)</td>
			<td align="center" style="font-size:25px;">有效蓄水量(萬立方公尺)</td>
			<td align="center" style="font-size:25px;">蓄水量百分比(%)</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.0.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.0.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.0.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.0.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.0.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.0.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.0.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.0.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.1.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.1.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.1.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.1.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.1.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.1.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.1.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.1.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.2.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.2.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.2.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.2.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.2.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.2.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.2.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.2.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.3.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.3.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.3.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.3.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.3.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.3.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.3.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.3.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.4.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.4.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.4.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.4.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.4.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.4.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.4.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.4.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.5.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.5.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.5.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.5.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.5.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.5.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.5.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.5.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.6.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.6.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.6.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.6.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.6.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.6.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.6.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.6.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.7.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.7.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.7.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.7.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.7.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.7.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.7.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.7.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.8.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.8.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.8.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.8.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.8.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.8.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.8.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.8.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.9.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.9.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.9.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.9.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.9.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.9.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.9.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.9.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.10.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.10.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.10.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.10.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.10.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.10.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.10.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.10.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.11.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.11.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.11.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.11.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.11.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.11.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.11.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.11.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.12.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.12.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.12.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.12.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.12.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.12.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.12.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.12.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.13.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.13.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.13.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.13.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.13.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.13.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.13.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.13.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.14.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.14.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.14.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.14.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.14.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.14.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.14.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.14.caparate }}</td>
		</tr>		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.15.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.15.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.15.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.15.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.15.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.15.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.15.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.15.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.16.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.16.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.16.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.16.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.16.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.16.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.16.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.16.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.17.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.17.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.17.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.17.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.17.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.17.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.17.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.17.caparate }}</td>
		</tr>
		<tr>
			<td align="center" style="font-size:25px;">{{ water.name.19.name }}</td>
			<td align="center" style="font-size:25px;">{{ water.maxcapa.19.maxcapa }}</td>
			<td align="center" style="font-size:25px;">{{ water.inwater.19.inwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.outwater.19.outwater }}</td>
			<td align="center" style="font-size:25px;">{{ water.time.19.time }}</td>
			<td align="center" style="font-size:25px;">{{ water.high.19.high }}</td>
			<td align="center" style="font-size:25px;">{{ water.capa.19.capa }}</td>
			<td align="center" style="font-size:25px;">{{ water.caparate.19.caparate }}</td>
		</tr>
	</table>
		<div style="text-align:right; margin: auto 50px auto auto; font-size: 30px; font-weight:bold;">資訊來源:<a href="https://fhy.wra.gov.tw/ReservoirPage_2011/StorageCapacity.aspx">經濟部水利署防災資訊網</a></div>
        </tbody>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
                {% endfor %}
</html>